version: "3.9"

services:
  mongo:
    image: mongo:7.0
    container_name: vasoli_mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: secret
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:


## docker exec -it vasoli_mongo mongo -u admin -p secret --authenticationDatabase admin